*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg,rgb(81, 81, 216),rgb(233, 82, 82));
    color: white;
    font-family: "Poppins",sans-serif;
    min-height: 100px;
}

header{
    font-size: x-large;
}

header , form {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    background-color: white;
    border: none;
}

form button{
    color: rgb(202, 90, 90);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    color: white;
    background: rgb(202, 90, 90);
}

.todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black; 
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.complete-btn , .delete-btn{
    background: rgb(226, 60, 60);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: small;
}

.complete-btn{
    background-color: rgb(73, 209, 73);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}