*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: linear-gradient(120deg,rgb(81, 81, 216),rgb(233, 82, 82));
    color: white; */
    font-family: "Poppins",sans-serif;
    min-height: 600px;
}

header{
    font-size: x-large;
}

header , form {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    background-color: white;
    border-radius: 1px solid black;
}

form button{
    color: rgb(235, 76, 76);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    color: white;
    background: rgb(235, 76, 76);
}

.todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin-top: 10px;
    margin-bottom: 10px;
    background: whitesmoke;
    color: black; 
    font-size: 30px;
    font-style: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.todo li{
    flex: 1;
}

.complete-btn , .delete-btn{
    background: rgb(226, 60, 60);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: small;
}

.complete-btn{
    background-color: rgb(73, 209, 73);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 1px solid black;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: rgb(235, 76, 76);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: rgb(235, 76, 76);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    color: white;
    background: rgb(70, 61, 61);
}